@import "../base.scss";

.main {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  .content_main {
    margin: 1rem;

    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      margin-left: 1vw;
      cursor: pointer;
    }
    .home_tabs {
      margin-right: 5vw;
      display: flex;
      padding: 10px;
 
      align-items: center;
      width: fit-content;

      .home_tab {
        text-align: center;
        font-weight: 525;
        overflow: hidden;
        white-space: nowrap;
         
        text-overflow: ellipsis;

        text-decoration: none;
        color: rgb(66, 66, 71);
      }
      .p_a_main {
        text-align: center;
        margin-left: 2rem;
        height: 100%;
     
        .home_tab_a {
         font-weight: 616;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-decoration: none;
          color: rgb(66, 66, 71);
        }
      }
    }
  }
}
.line_0 {
  height: 1px;
  width: 100%;
  background-color: $base_line_color;
}
