$main_bg_color: red;
$main_pd: 10px;

.home_main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: $main_pd;
  height: 100%;
 

  .home_content {
    background-color:rosybrown;
    flex: 1;
  }
}
